/**
 * Author: Taranjot Singh <tr548284@dal.ca/B00945917>
 */

/* Styling for the block-dates container */
.block-dates {
  margin-left: 70px;
  border: 2px solid #1D267D;
  width: 380px;
  padding: 20px;
  height: 150px;
}

/* Styling for the h2 element inside block-dates */
.block-dates h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
}

/* Styling for the p element inside block-dates */
.block-dates p {
  margin-bottom: 20px;
  text-align: left;
}

/* Responsive styles for screens between 595px and 920px */
@media (min-width: 595px) and (max-width: 920px) {
  .block-dates {
    padding-left: 20px;
    width: 520px;
    margin-left: 15px !important;
    margin-top: 25px;
  }
}

/* Responsive styles for screens between 400px and 596px */
@media (min-width: 400px) and (max-width: 596px) {
  .block-dates {
    width: 350px;
    margin-left: 15px !important;
    margin-top: 25px;
  }
}

/* Responsive styles for screens between 347px and 399px */
@media (min-width: 347px) and (max-width: 399px) {
  .block-dates {
    width: 300px;
    margin-left: 15px !important;
    margin-top: 25px;
  }

  /* Adjusted font size for p element */
  .block-dates p {
    font-size: 14px;
  }
}

/* Responsive styles for screens between 291px and 346px */
@media (min-width: 291px) and (max-width: 346px) {
  .block-dates {
    width: 250px;
    margin-left: 15px !important;
    margin-top: 25px;
  }

  /* Adjusted font size and text alignment for p element */
  .block-dates p {
    font-size: 14px;
    text-align: justify;
  }
}
