/**
 * @author Shivam Lakhanpal <sh475218@dal.ca/B00932887>
 */
.mentorBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20% 0 0 5%;
}

.mentorAvatar {
  width: 100px;
  height: 100px;
}

.mentorName,
.mentorQuery,
.queryButton {
  margin-top: 10px;
}
