.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  max-height: 200px;
  margin: 0 auto;
  padding: 16px;
  
  position: relative;
}

.cardHalfBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #dbd1fc !important;
  z-index: 1;
}

.image {
  height: 100px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.name {
  margin-top: 16px;
  text-align: center;
}

.text {
  margin-top: 8px;
  text-align: center;
}
