.input-container {
  margin-bottom: 25px;
}

.label {
  color: #555;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 5px;
}
