  /**
 * @author Taranjot Singh <tr548284@dal.ca/B00945917>
 */ 
 .customTableCell {
    padding-right: 200px; /* Adjust the value as needed */
  }

h4{
    color: #161414be;
    margin-left: 30px;
    font-weight: bold;
    font-size: 16px;
}