/**
 * @author Shivam Lakhanpal <sh475218@dal.ca/B00932887>
 */
.mentor-service-homepage {
  display: flex;
  height: 100vh;
}

.left-container {
  width: 25%;
  background-color: #e3e3e3;
}

.right-container {
  width: 75%;
  background-color: #ffffff;
}
