.sidebar-container {
    padding: 1rem;
  }
  
.sidebar-button {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    border: none;
    border-radius: 8px;
    padding: 0.5rem;
  }
  
.sidebar-button.selected {
    background-color: black;
  }

.sidebarComp {
  min-height: 60vh; 
  max-height: 73vh;
  overflow-y: auto;
  overflow-x: hidden;
}
  